$radius: 15;
$pink: #F4A698;

body {
  background-color: black;
}

.container {
  width: 290px;
  height: 370px;
  margin: auto;
  z-index: 4;
  img {
  width: 290px;
  height: 370px;
  position: absolute;
  z-index: -1;
  }
}

.round {
  position: relative;
  margin: auto;
  //background-color: #2C3E50;
  //z-index: 2;
  overflow: hidden;
  width: 230px;
  height: 310px;
  top: 20px;
  z-index: -1;
  background: linear-gradient(0deg, rgba(255,195,113,1) 0%, rgba(255,95,109,1) 100%);
  .sun {
    position: absolute;
    background: red;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    right: 0;
    animation: sun 40s linear infinite;
    z-index: 1;
  }
  img {
    height: 229px;
    width: 270px;
    z-index: 5;
    position: absolute;
    bottom: 65px;
    left: -34px;
  }
  .bird{
    position: absolute;
    width: 0;
    z-index: 4;
    &:before{
      content: '';
      display: block;
      border-radius: 50%;
      border-width: 0.15em;
      border-style: solid;
      -webkit-clip-path: inset(0 0 50% 50%);
      clip-path: inset(0 0 50% 50%);
      position: absolute;
      left: -1em;
    }
    &:after{
      content: '';
      display: block;
      border-radius: 50%;
      border-width: 0.15em;
      border-style: solid;
      -webkit-clip-path: inset(0 50% 50% 0);
      clip-path: inset(0 50% 50% 0);
      position: absolute;
      right: -1em;
    }
    &#bird-1{
      top: 3.4em;
      left: 70%;
      transform: rotate(-15deg) scaleY(0.75);
      animation: 2s bird-1 forwards infinite;
      &:before, &:after{
        border-color: white;
        width: ($radius/($radius*1.25))+em;
        height: ($radius/($radius*1.25))+em;
      }
    }
    &#bird-2{
      top: 3.75em;
      left: 78%;
      transform: rotate(15deg) scale(0.75, 0.5);
      animation: 2s bird-2 forwards infinite;
      &:before, &:after{
        border-color: white;
        width: ($radius/($radius*1.25))+em;
        height: ($radius/($radius*1.25))+em;
      }
      &:before{
        left: -1em;
      }
      &:after{
        right: -1em;
      }
    }
  }
}





.cloud-group-1, .cloud-group-2, .full-cloud {
  position: absolute;  
  width: 350px;
  height: 100px;
  z-index: 2;
}

#full-1{
  img {
    width: 20px;
    height: 10px;
    left: 15px;
    top: 80px;
    animation: full-1 30s linear infinite;
  }
}

#full-2 {
  img{
    width: 25px;
    height: 15px;
    left: 200px;
    top: 100px;
    animation: full-2 30s linear infinite;
  }
}

.cloud-group-1 {
  bottom: 60px;
  left: -341px;  
  animation: cloud-group-1 20s 5s linear infinite;
  .cloud-1 {
    height: 3px;
    left: 30px;
    top: -15px;
    width: 70px;
  }
  .cloud-2 {
    top: -2px;
    width: 45px;    
  }
  .cloud-3 {
    top: -7px;
    left: 70px;    
  }
  .cloud-4 {
    right: 60px;
  }
  .cloud-5 {
    right: 100px;
    top: 10px;
    height: 2px;
    width: 45px;    
  }
  .cloud-6 {
    
  }
}

.cloud-group-2 {
  bottom: 35px;
  left: -341px;
  animation: cloud-group-2 20s linear infinite;
}

.cloud {
  width: 100px;
  height: 1px;
  position: absolute;
  background: white;
  
}

.cloud-1 {
  height: 3px;
  left: 30px;
}

.cloud-2 {
  top: 10px;
  width: 45px;
}

.cloud-3 {
  top: 10px;
  left: 70px;
}

.cloud-4 {
  right: 50px;
}

.cloud-5 {
  right: 100px;
  top: 10px;
  height: 2px;
  width: 40px;
}

.cloud-6 {
  top: -5px;
  right: 95px;
  width: 30px;
}

@keyframes cloud-group-2 {
  0% { left: -20%           }
  50% { left: 80% }    
  100%   { left: -20% }
}

@keyframes cloud-group-1 {
  0% { left: -20%           }
  50% { left: 80% }    
  100%   { left: -20% }
}

@keyframes cloud2 {
  from {
    left: 30px;
  }
  to {
    left: 50px;
  }
}

@keyframes bird-1{
  0%{
    transform: rotate(-15deg) scaleY(0.75);
  }
  50%{
    transform: rotate(15deg) scaleY(0.75);
  }
  100%{
    transform: rotate(-15deg) scaleY(0.75);
  }
}
@keyframes bird-2{
  0%{
    transform: rotate(15deg) scale(0.75, 0.5);
  }
  50%{
    transform: rotate(-15deg) scale(0.75, 0.5);
  }
  100%{
    transform: rotate(15deg) scale(0.75, 0.5);
  }
}

@keyframes sun {
  from {
    bottom: 65px;
  }
  to {
    bottom: 150px;
  }
}

@keyframes full-1 {
  0% {left: -10px}
  50% {left: 260px}
  100% {left: -10px}
}

@keyframes full-2 {
  0% {left: 230px}
  50% {left: -10px}
  100% {left: 230px;}
}
