@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Roboto:100&display=swap');

$radius: 15;
$pink: #F4A698;

$bg-light: #ee7752;
$bg-semi: #d55599;
$bg-middle: #23a6d5;
$bg-dark: #23d5ab;

body {
  background-color: $pink;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 290px;
  height: 370px;
  z-index: 4;
  .stamp {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 290px;
    height: 370px;
    z-index: -1;
    #fuji {
      position: absolute;
      bottom: 45px;
      left: 43px;
      font-size: 30px;
      font-family: 'Old Standard TT', serif;
      color: #bf3d48;
    }
    #japan {
      position: absolute;
      bottom: 20px;
      left: 43px;
      font-size: 25px;     
      font-family: 'Roboto', sans-serif;
      color: #b17ea1;
    }
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      top: 0;
    }
    .round {
      position: absolute;
      margin: auto;
      //background-color: #2C3E50;
      //z-index: 2;
      overflow: hidden;
      width: 205px;
      height: 250px;
      top: 35px;
      left: 43px;
      z-index: -1;
      background: linear-gradient(30deg, $bg-light, $bg-semi, $bg-middle, $bg-dark);
      background-size: 400% 400%;
      animation: sunrise 20s ease infinite;
      .sun {
        position: absolute;
        background: red;
        height: 55px;
        width: 55px;
        border-radius: 50%;
        right: 10px;
        animation: sun 20s linear infinite;
        z-index: -1;
      }
      img {
        height: 213px;
        width: 207px;
        z-index: -1;
        position: absolute;
        bottom: 10px;
        left: 0px;
      }
      .bird{
        position: absolute;
        width: 0;
        z-index: 4;
        &:before{
          content: '';
          display: block;
          border-radius: 50%;
          border-width: 0.15em;
          border-style: solid;
          -webkit-clip-path: inset(0 0 50% 50%);
          clip-path: inset(0 0 50% 50%);
          position: absolute;
          left: -1em;
        }
        &:after{
          content: '';
          display: block;
          border-radius: 50%;
          border-width: 0.15em;
          border-style: solid;
          -webkit-clip-path: inset(0 50% 50% 0);
          clip-path: inset(0 50% 50% 0);
          position: absolute;
          right: -1em;
        }
        &#bird-1{
          top: 3.4em;
          left: 70%;
          transform: rotate(-15deg) scaleY(0.75);
          animation: 2s bird-1 forwards infinite;
          &:before, &:after{
            border-color: white;
            width: ($radius/($radius*1.25))+em;
            height: ($radius/($radius*1.25))+em;
          }
        }
        &#bird-2{
          top: 3.75em;
          left: 78%;
          transform: rotate(15deg) scale(0.75, 0.5);
          animation: 2s bird-2 forwards infinite;
          &:before, &:after{
            border-color: white;
            width: ($radius/($radius*1.25))+em;
            height: ($radius/($radius*1.25))+em;
          }
          &:before{
            left: -1em;
          }
          &:after{
            right: -1em;
          }
        }
      }
    }
  }
}

.cloud-group-1, .cloud-group-2, .full-cloud {
  position: absolute;  
  width: 350px;
  height: 100px;
  z-index: 2;
}

#full-1{
  img {
    width: 35px;
    height: 20px;
    left: 15px;
    top: 40px;
    animation: full-1 30s linear infinite;
  }
}

#full-2 {
  img{
    width: 25px;
    height: 15px;
    left: 200px;
    top: 80px;
    animation: full-2 30s linear infinite;
  }
}


.cloud-group-1 {
  bottom: 60px;
  left: -341px;  
  animation: cloud-group-1 20s 5s linear infinite;
  .cloud-1 {
    height: 3px;
    left: 30px;
    top: -15px;
    width: 70px;
  }
  .cloud-2 {
    top: -2px;
    width: 45px;    
  }
  .cloud-3 {
    top: -7px;
    left: 70px;    
  }
  .cloud-4 {
    right: 60px;
  }
  .cloud-5 {
    right: 100px;
    top: 10px;
    height: 2px;
    width: 45px;    
  }
  .cloud-6 {
    
  }
}

.cloud-group-2 {
  bottom: 35px;
  left: -341px;
  animation: cloud-group-2 20s linear infinite;
}

.cloud {
  width: 100px;
  height: 1px;
  position: absolute;
  background: white;
  
}

.cloud-1 {
  height: 3px;
  left: 30px;
}

.cloud-2 {
  top: 10px;
  width: 45px;
}

.cloud-3 {
  top: 10px;
  left: 70px;
}

.cloud-4 {
  right: 50px;
}

.cloud-5 {
  right: 100px;
  top: 10px;
  height: 2px;
  width: 40px;
}

.cloud-6 {
  top: -5px;
  right: 95px;
  width: 30px;
}

@keyframes cloud-group-2 {
  0% { left: -20%           }
  50% { left: 80% }    
  100%   { left: -20% }
}

@keyframes cloud-group-1 {
  0% { left: -20%           }
  50% { left: 80% }    
  100%   { left: -20% }
}

@keyframes cloud2 {
  from {
    left: 30px;
  }
  to {
    left: 50px;
  }
}

@keyframes bird-1{
  0%{
    transform: rotate(-15deg) scaleY(0.75);
  }
  50%{
    transform: rotate(15deg) scaleY(0.75);
  }
  100%{
    transform: rotate(-15deg) scaleY(0.75);
  }
}
@keyframes bird-2{
  0%{
    transform: rotate(15deg) scale(0.75, 0.5);
  }
  50%{
    transform: rotate(-15deg) scale(0.75, 0.5);
  }
  100%{
    transform: rotate(15deg) scale(0.75, 0.5);
  }
}

@keyframes sun {
  from {
    bottom: 35px;
  }
  to {
    bottom: 250px;
  }
}

@keyframes full-1 {
  0% {left: -10px}
  50% {left: 260px}
  100% {left: -10px}
}

@keyframes full-2 {
  0% {left: 230px}
  50% {left: -10px}
  100% {left: 230px;}
}

@keyframes sunrise {
  0%   { background-position: 0% 50%   }
  70%  { background-position: 100% 50% }
  80% { background-position: 70% 50%   }
  90% { background-position: 40% 50%   }
  100% { background-position: 0% 50%   }  
}


.set
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.set span
{
    position: absolute;
    display: block;
    background: linear-gradient(8deg, rgba(252,223,251,1) 0%, rgba(227,93,164,1) 100%);
    height: 10px;
    width: 10px;
    border-radius: 5% 40% 70%;
}
.set span:nth-child(1)
{
    left: 20%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}
.set span:nth-child(2)
{
    left: 50%;
    animation: animate 20s linear infinite;
    animation-delay: -5s;
}
.set span:nth-child(3)
{
    left: 70%;
    animation: animate 25s linear infinite;
}
.set span:nth-child(4)
{
    left: 0%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
}
.set span:nth-child(5)
{
    left: 85%;
    animation: animate 18s linear infinite;
    animation-delay: -10s;
}
.set span:nth-child(6)
{
    left: 0%;
    animation: animate 12s linear infinite;
}
.set span:nth-child(7)
{
    left: 15%;
    animation: animate 14s linear infinite;
}
.set span:nth-child(8)
{
    left: 60%;
    animation: animate 15s linear infinite;
}
@keyframes animate
{
    0%
    {
        opacity: 0;
        top: -10%;
        transform: translateX(20px) rotate(0deg);
    }
    10%
    {
        opacity: 1;
    }
    20%
    {
        transform: translateX(-20px) rotate(45deg);
    }
    40%
    {
        transform: translateX(-20px) rotate(90deg);
    }
    60%
    {
        transform: translateX(20px) rotate(135deg);
    }
    80%
    {
        transform: translateX(-20px) rotate(180deg);
    }
    100%
    {
        top: 110%;
        transform: translateX(-20px) rotate(225deg);
    }
}
.set2
{
    transform: scale(2) rotateY(180deg);
} 
